
body {
    background: linear-gradient(to right, #dcccea, #6291e7);
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #182517;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
}

table {
    width: 100%;
    margin: auto;
}

td {
    padding: 10px;
    color: #ffffff;
    font-size: 1rem;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"],
button {
    background: #54dc38;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background: #e73636;
}

/* Links */
a {
    color: #1e1c1c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Paragraph Styling */
p {
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}
