<html>
<head>
    <title>Department</title>
    <link rel="stylesheet" type="text/css" href="../Static/css/department.css">
</head>
<body>
        <table align="center">
            <h1 align="center">Department</h1>
            <hr>
            <tr>
                <td>
                    <img src="../Static/img/neurologist.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">Neurologist</button></h2>
                </td>
                <td>
                    <img src="../Static/img/cardiologist.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">Cardiologist</button></h2>
                </td>
                <td>
                    <img src="../Static/img/medicine.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">Medicine</button></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../Static/img/skin.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">Skin</button></h2>
                </td>
                <td>
                    <img src="../Static/img/dental.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">Dental</button></h2>
                </td>
                <td>
                    <img src="../Static/img/all.jpg" width="240px" height="200px" />
                    <h2><button onclick="location.href='searchDoctors.html'">All</button></h2>
                </td>
            </tr>

        </table>
        <button onclick="location.href='home.html'">Back</button>
<!--    </form>-->
</body>
</html>
