<html>
<head>
    <title>Doctor's Profile</title>
    <link rel="stylesheet" type="text/css" href="../Static/css/doctorsProfile.css">
</head>

<body>
    <fieldset align="" width="80%">
        <center>
            <h2>Profile</h2>
            <img src="" width="160px" height="220px"/>
            <h3>dr name </h3>
            <h3>degrees</h3>
            <h3>working sectors</h3>
            <h3>title</h3>
            <h3>working place</h3>
            <h3>address</h3>
            <h3>visiting hour</h3>
            <h3>weekly off day</h3>
            <p></p>
            <p><b><i>Contract this number to take ppoinment:</i></b> number</p>
        </center>
        <h3><button onclick="location.href='searchDoctors.html'">Back</button></h3>
    </fieldset>
</body>
</html>


