<html>
<head>
    <title>Search Doctors</title>
    <link rel="stylesheet" type="text/css" href="../Static/css/searchDoctors.css">
</head>
<body>
<h2>Department: (selected dept)</h2>
<form method="post" action="searchDoctors.php">

    <label for="search-bar">Search:</label>
    <input type="text" id="search-bar" name="name" placeholder="Enter doctor details">
    <select id="search-option" name="search-option">

        <option value="name">Search by Name</option>
    </select>
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <td><button onclick="location.href='department.html'">Back</button></td>
        <td><button onclick="location.href='doctorsProfile.html'">Next</button></td>
    </tr>
</table>

</body>
</html>
